<h1>Nova Tarefa</h1>
<form action="/list" method="post">
<div class="item">
  {# Título está no lugar do requisito de categoria da tarefa, pois não compreendi o que seria esse requisito. #}
  <h3>Título:</h3>
  <input type="text" name="name_todo">
</div>
<div class="item">
  <h3>Descrição:</h3>
  <textarea name="description"></textarea>
</div>
<div class="item">
  <h3>Nível de Prioridade:</h3>
  <div class="priority">
    <input
      type="text"
      name="priority"
      placeholder="Selecione uma prioridade"
      onFocus="functions.dropdown(0)"
      onBlur="functions.dropdown(1)" 
    >
    <div class="drop-down">
      <div class="list_drop-down">
        <div class="item-priority" id="item-1" onmousedown="functions.priority(1)">Prioridade 1</div>
        <div class="item-priority" id="item-2" onmousedown="functions.priority(2)">Prioridade 2</div>
        <div class="item-priority" id="item-3" onmousedown="functions.priority(3)">Prioridade 3</div>
        <div class="item-priority" id="item-4" onmousedown="functions.priority(4)">Prioridade 4</div>
        <div class="item-priority" id="item-5" onmousedown="functions.priority(5)">Prioridade 5</div>
      </div>
    </div>
  </div>
</div>
<div class="item">
  <h3>Situação</h3>
  <input type="text">
</div>
<button class="button">Adicionar</button>
</form>