{% extends 'layout.njk' %}

{% block content %}
<div class="container-todo">
  <button class="change-display button" onclick="functions.formAdd()">Adicionar Tarefa</button>
  <div class="form">
    {%include './create.njk'%}
  </div>
  <div class="show">
    {%include './show.njk'%}
  </div>
</div>
{% endblock  %}